.top-bar {
  font-family: 'Source Sans Pro', sans-serif;
}


.top-bar {
    background-color: rgba(236, 88, 64, 0.32);
    margin-bottom: 1em;
}

.top-bar ul {
    background-color: #f9cac2;}


.menu li{
  a {
    font-size: 1.3em;
    color: gray;
  }
  a img {
    width: 40%;
    padding: 0px;
  }
}

.menu li .name {
  padding: 0px;
}

.menu .active {
  a {
  background-color: gray;
}
}

.menu #logo {
  padding: 0;
  justify-content: center;
  text-align: center;

}

@keyframes top-bar {
    0%   { transform: translate(-100px,0px);                    opacity: 0 }
    42%  { transform: translate(-80px,0px);                     opacity: 0.8 }
    60%  { transform: translate(3px,0px)     scale(0.96,1.04);  opacity: 1 }
    65%  { transform: translate(2px,0px);                       opacity: 1 }
    80%  { transform: translate(-2px,0px);                      opacity: 1 }
    90%  { transform: translate(1px,0px);                       opacity: 1 }
    100% { transform: translate(0px,0px);                       opacity: 1 }
}
