$primary-yellow: #E1B80D;
$primary-offwht: #FEF3E2;
$primary-red: #FA4032;
$primary-orange: #FA812F;
$gray: #999;


.top-bar {
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: .3rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1%;
}

.top-bar ul {
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;}


.menu li{
  a {
    font-size: 1.3em;
    color: $primary-red;
  }
  a:hover {
    font-weight: bolder;
  }
  a img {
    width: 70%;
    padding: 0px;
  }
}

.menu li .name {
  padding: 0px;
}


.menu #logo {
  padding: 0;
  justify-content: center;
  text-align: center;

}

@keyframes .menu #logo {
    0%   { transform: translate(-100px,0px);                    opacity: 0 }
    42%  { transform: translate(-80px,0px);                     opacity: 0.8 }
    60%  { transform: translate(3px,0px)     scale(0.96,1.04);  opacity: 1 }
    65%  { transform: translate(2px,0px);                       opacity: 1 }
    80%  { transform: translate(-2px,0px);                      opacity: 1 }
    90%  { transform: translate(1px,0px);                       opacity: 1 }
    100% { transform: translate(0px,0px);                       opacity: 1 }
}



/* Styles for Login */
.auth-plain {
  padding: 5%;
}

.left-solid {
margin-top: 0px;
margin-bottom: 0px;
}

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
}

.signup-panel a{
  color: #fff;
}

.signup-panel i {
  font-size: 2.2em;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 1.5em;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}
.signup-panel .button {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.newusers {
  background: #fff;
}


.signup-panel .newusers{
  text-align: center;
}
