$primary-yellow: #E1B80D;
$primary-offwht: #FEF3E2;
$primary-red: #FA4032;
$primary-orange: #FA812F;
$gray: #999;


.top-bar {
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: .3rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1%;
}

.top-bar ul {
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;}


.menu li{
  a {
    font-size: 1.3em;
    color: $primary-red;
  }
  a:hover {
    font-weight: bolder;
  }
  a img {
    width: 70%;
    padding: 0px;
  }
}

.menu li .name {
  padding: 0px;
}


.menu #logo {
  padding: 0;
  justify-content: center;
  text-align: center;

}

// mobile view
@media only screen and (max-width: 480px) {
  .menu #logo {
    padding-left: 30px;
    text-align: center;
    display: block;
    width: 320px;
  }
  .menu li {
    font-size: 0.8em;
    display: block;
  }
}
// tablet
@media only screen and (max-width: 670px) {
  .menu #logo {
    padding-left: 30px;
    text-align: center;
    display: block;
    width: 360px;
  }
  .menu li {
    text-align: center;
    font-size: 0.8em;
  }
}


/* Styles for Login */
.auth-plain {
  padding: 5%;
}

.left-solid {
margin-top: 0px;
margin-bottom: 0px;
}

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
}

.signup-panel a{
  color: #fff;
}

.signup-panel i {
  font-size: 2.2em;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 1.5em;
  text-align: center;
  margin-left: 0;
}


.signup-panel p {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}
.signup-panel p #welcomemosey{
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}
.signup-panel .button {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.newusers {
  background: #fff;
}


.signup-panel .newusers{
  text-align: center;
}

#welcomenew {
  font-size: 3em;
  font-family: TheWildThingsScript;
  color: $gray;
  font-weight: 300;
  text-shadow: 1.2px 1.2px 1px white;
}
#welcomereg {
  font-size: 3em;
  font-family: TheWildThingsScript;
  color: $gray;
  font-weight: 300;
  text-shadow: 1.2px 1.2px 1px white;
}
