$primary-yellow: #E1B80D;
$primary-offwht: #FEF3E2;
$primary-red: #FA4032;
$primary-orange: #FA812F;
$gray: #999;

#map {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.info {
  font-weight: bolder;
  font-size: 1.5em;
  line-height: 159%;
  margin: 1%;
  text-align: center;
  // background-color: $primary-offwht;
  color: $primary-red;
}

.info > button{
  margin: 6px;
  text-align: center;
  border-radius: 3px;
  background-color:   $primary-red;
  color: white;
  padding:5%;
}
.info > button:hover {
  background-color: rgba(#fa4032, 0.49);
  color: white;
}
// list column of the itinerary created by the user
.large-4 {
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 5px;
  background-color: #2c3940;
  box-shadow: 0 1px 6px rgba(0,0,0,.3);
  background: white;
}

.large-4 h3 {
  line-height: .6em;
  font-family: TheWildThingsScript;
  text-align: center;
  font-weight: 750;
  color: white;
  font-size: 4.4em;
  color: $primary-red;
}

.large-4 ul {
  line-height: 1em;
  list-style: none;
  text-align: center;
  color: $primary-red;
  font-size: 1em;
}

.large-4 p {
  line-height: 1.3em;
}

.large-4 .sub-list {
  padding: 0;
  max-height: 20em;
  overflow-y: auto;
}
.large-4 .sub-list li{
  font-size: 1em;
  padding: .25em 1em;
  line-height: 1em;
}

///whatcha in the mood for
// .medium-8 {
//   justify-content: center;
//   // margin: 5px;
//   border-radius: 5px;
//   background-color: #2c3940;
//   box-shadow: 0 1px 6px rgba(0,0,0,.3);
//   background: white;
// }

.large-12 h3 {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0,0,0,.3);
  font-family: TheWildThingsScript;
  text-align: center;
  font-weight: 750;
  font-size: 4em;
  color: $primary-red;
}

.large-12  ul {
  line-height: 1em;
  list-style: none;
  text-align: center;
  color: $gray;
  font-size: 3em;
}

.large-12  p {
  // font-family: TheWildThingsScript;
  line-height: 1.2em;
  list-style: none;
  text-align: left;
  color: $gray;
  font-size: 1.7em;
}

#options {
  clear: both;
  margin-top: 4%;
}
 #main-init p,a {
   text-align: center;
   color: $primary-red;
 }
 #main-init a:hover {
   color: rgba(#fa4032, 0.49);
 }
