.inline-list {
  list-style: none;
}

@font-face {
    font-family: TheWildThingsScript;
    src: url("../TheWildThingsScript/TheWildThingsScript.otf");
}


#reviewHead {
  font-style: italic;
  color: $gray;
  text-align: center;
  h2{
    font-size: 3.6em;
    font-family: TheWildThingsScript;
    color: $gray;
    font-weight: 300;
    text-shadow: 1.2px 1.2px 1px white;
  }
}

#reviewList {
  color: rgb(111, 111, 116);
  font-size: 1.2em;
}

hr {
  color: white;
}
