@import 'login';
@import 'map';
@import 'footer';
@import 'reviews';
@import 'register';

@font-face {
    font-family: TheWildThingsScript;
    src: url("../TheWildThingsScript/TheWildThingsScript.otf");
}


$primary-yellow: #E1B80D;
$primary-offwht: #FEF3E2;
$primary-red: #FA4032;
$primary-orange: #FA812F;
$gray: #999;

body {
  background-color: rgba(162, 162, 162, 0.2);
  font-family: WildThings, sans-serif;
}

.columns, h2, p, h1, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

.signup-panel{
  color: rgba(140,134,126,1);
  background-color: white;
  text-align: center;
  justify-content: center;
  border-color: white;
  box-shadow:  0px 0px 31px 2px rgba(140,134,126,0.49);
}

.signup-panel .button {
    font-size: 1em;
    text-align: center;
    justify-content: center;
    width: 100%;
    border-color: white;
    color: $primary-red;
  }

.signup-panel .button:hover {
  font-size: 1em;
  box-shadow: 0 1px 6px $gray;
  border-color: white;
  }

  .button.hollow {
    font-size: 1em;
    text-align: center;
    justify-content: center;
    width: 100%;
    border-radius: .3em;
    color: rgba(#fa4032, 0.9);
    border-color:  $gray;
    background-color: rgba(255,255,255,.45);
  }
  .button.hollow:hover {
    font-size: 1em;
    border-radius: .3em;
    border-color: $primary-red;
    font-weight: bolder;
    background-color:  $primary-red;
    color: white;
  }

.menu a:active {
    color: white;
}


.auth-plain {
  justify-content: center;
  text-align: center;
}

.signup-panel .welcomemosey {
  font-size: 3.3em;
  font-family: TheWildThingsScript;
  color: $gray;
  font-weight: 300;
  text-shadow: 1.2px 1.2px 1px white;
}
