<div class="row">

  <div class="row">
    <div class="medium-4 columns" id='options'>
      <button type="button" class=" hollow button" ng-click='toggle()'>Instructions</button>

      <p ng-show="newInstructions">
        1. Login/Register <br>
        2. Select recommendations <br>near you <br>
        3. Add to Itinerary <br>and start to mosey! <br>
      </p>
    </div>
  <div class="medium-8 columns">
    <h3>Whatcha in the mood for?</h3>
    <select ng-model = 'selector' ng-change = 'getSelection()'>
      <option value="all">All</option>
      <option value="food">Food</option>
      <option value="activity">Activity</option>
    </select>

  </div>

  </div>



    <div class="large-4 columns" id='main-init'>
        <h3>Custom Charleston Itinerary</h3>

          <ul class="sub-list">
            <li ng-repeat="point in itin">
                <p> <strong>{{ point.name }}</strong></p>
                <p> <em>{{ point.price }}</em></p>
                <p> <em>{{ point.localstake }}</em></p>
                <p> <em>{{ point.category }}</em></p>
                <button type="button" class=" hollow button" ng-click='deletePoint(point)'>Delete</button>
            </li>
        </ul>
        <button class="expanded hollow button" ng-click = 'getItinerary()'>Create Itinerary</button>

    </div>


    <div class="large-8 columns">
        <div id="map"></div>

    </div>


</div>
