<div class="row">
    <div class="large-4 columns">
        <h3>Custom Charleston Itinerary</h3>

          <ul class="sub-list">
            <li ng-repeat="point in itin">
                <p> <strong>{{ point.name }}</strong></p>
                <p> <em>{{ point.price }}</em></p>
                <button type="button" class=" hollow button" ng-click='deletePoint()'>Delete</button>
            </li>
        </ul>

        <button class="expanded hollow button" ng-click = 'getItinerary()'>Get Itinerary!</button>

    </div>
    <div class="large-8 columns">
        <div id="map"></div>
    </div>
</div>
