

<div class="row">
  <div class="large-12 columns auth-plain">
    <div class="row">
    <div class="signup-panel newusers">
      <p class="welcome"> Register to Mosey</p>
      <input type="text"  ng-model='lName'  placeholder ="First Name">
      <input type="text"  ng-model='FName'  placeholder = 'Last Name'>
      <input type="text"  ng-model='Email'  placeholder ='Email'>
      <input type="text"  ng-model='UName'  placeholder='User Name'>
      <input type="password" name="password" ng-model='Pword'  placeholder='Password'>
      <input type="radio" name="button" ng-model='isLocal'> Native </input>
      <input type="radio" name="button" ng-model='isLocal'> Tourist </input>


      <a href="#registration" class="hollow button">Register</a></br>
    </div>
  </div>
  </div>
</div>
