<!-- <div class="row">
<div class="large-12 columns">
  <label>Whatcha in the mood for?</label>
  <select>
    <option value="food">Food</option>
    <option value="drinks">Drinks</option>
    <option value="dessert">Dessert</option>
    <option value="indoor">Indoor Activity</option>
    <option value="outdoor">Outdoor Activity</option>
  </select>
</div>
</div> -->


<!-- Header and Nav -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h4>Welcome {{username}}!</h4>
        <h2>Read the Reviews</h2>
      </div>
    </div>

    <!-- Main Feed -->
    <div class="large-12 columns">

      <div class="row" ng-repeat="review in reviewList">
        <hr />
        <div class="large-12 columns">
          <p><strong>{{review.username}} said:</strong> {{review.comment}}</p>
          <button type="button" class=" hollow button" ng-click='deleteReview(review)'>Delete</button>

        </div>
        <hr />
      </div>

      <!-- Data:
      <pre>{{ reviewList | json }}</pre> -->


    </div>

  </div>


  <!-- Start Compose Message -->
<div class="row">


    <p>{{errorMessage}}</p>
    <div class="large-12 columns" id="addReview">
        <textarea rows="4.5" placeholder="Tell us about your experience..." ng-model='reviewText'></textarea>
    </div>
    <div class="small-12 columns">
      <button type="button" class=" hollow button" ng-click='addReview()'>Review</button>
    </div>


  </div>
