<div class = 'tempContainer' id="regContainerMain">
  <div class = 'tempHeader' id="regHeader"></div>
  <div class = 'tempBody' id="regBody">
    <h1>Please fill in all fields</h1>
    <ul>
      <li><input type="text"= ng-model='lName'  placeholder ="First Name"></li>
      <li><input type="text"= ng-model='FName'  placeholder = 'Last Name'></li>
      <li><input type="text"= ng-model='Email'  placeholder ='Email'></li>
      <li><input type="text"= ng-model='UName'  placeholder='User Name'></li>
      <li><input type="text"= ng-model='Pword'  placeholder='Password'></li>
      <input type="radio" name="button" ng-model='isLocal'> Native </input>
      <input type="radio" name="button" ng-model='isLocal'> Tourist </input>
    </ul>
  </div
