
<div class = 'tempContainer' id="regContainerMain">
  <div class = 'tempHeader' id="regHeader"></div>
  <div class="row">
  <div class = 'tempBody small-2 medium-3 large-4 columns' id="regBody">
    <h1>Please fill in all fields</h1>
    <ul>
      <li><input type="text"= ng-model='lName'  placeholder ="First Name"></li>
      <li><input type="text"= ng-model='FName'  placeholder = 'Last Name'></li>
      <li><input type="text"= ng-model='Email'  placeholder ='Email'></li>
      <li><input type="text"= ng-model='UName'  placeholder='User Name'></li>
      <li><input type="text"= ng-model='Pword'  placeholder='Password'></li>
      <input type="radio" name="button" ng-model='isLocal'> Native </input>
      <input type="radio" name="button" ng-model='isLocal'> Tourist </input>
    </ul>
  </div>

  <h3>My Google Maps Demo</h3>
   <div class="row" id="map"></div>
   <script class="large-12 columns">
   function initMap() {
     var map = new google.maps.Map(document.getElementById('map'), {
       center: {lat: -34.397, lng: 150.644},
       zoom: 6
    });
     var infoWindow = new google.maps.InfoWindow({map: map});

     //* HTML5 geolocation.
    if (navigator.geolocation) {
       navigator.geolocation.getCurrentPosition(function(position) {
         var pos = {
           lat: position.coords.latitude,
           lng: position.coords.longitude
         };

         infoWindow.setPosition(pos);
         infoWindow.setContent('Location You is here foo.');
         map.setCenter(pos);
       }, function() {
         handleLocationError(true, infoWindow, map.getCenter());
       });
     } else {
       // Browser doesn't support Geolocation
       handleLocationError(false, infoWindow, map.getCenter());
     }
     }

     function handleLocationError(browserHasGeolocation, infoWindow, pos) {
     infoWindow.setPosition(pos);
     infoWindow.setContent(browserHasGeolocation ?
                           'Error: The Geolocation service failed.' :
                           'Error: Your browser doesn\'t support geolocation.');
     }
   </script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdGq0n-cnI--cZyb9gc73KTxEr_mYFVCM&callback=initMap"
    async defer>
  </script>




<!--
  <div class="row">
  <div class="small-2 medium-3 large-4 columns">2/3/4 columns</div>
  <div class="small-4 medium-3 large-4 columns">4/3/4 columns</div>
  <div class="small-6 large-4 columns">6/6/4 columns</div>
</div>
<div class="row">
  <div class="large-3 columns">12/12/3 columns</div>
  <div class="large-6 columns">12/12/6 columns</div>
  <div class="large-3 columns">12/12/3 columns</div>
</div>
<div class="row">
  <div class="small-6 large-2 columns">6/6/2 columns</div>
  <div class="small-6 large-8 columns">6/6/8 columns</div>
  <div class="small-12 large-2 columns">12/12/2 columns</div>
</div>
<div class="row">
  <div class="small-3 columns">3 columns</div>
  <div class="small-9 columns">9 columns</div>
</div>
<div class="row">
  <div class="medium-8 large-4 columns">12/8/4 columns</div>
  <div class="medium-4 large-8 columns">12/4/8 columns</div>
</div> -->
